body {
  font-family: system-ui, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
}

label,
input,
button {
  display: block;
  margin: 1rem 0;
}

input {
  width: 100%;
}

input,
button {
  padding: 1rem;
}

header,
main {
  padding: 2rem;
  max-width: 75ch;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 2rem;
  border: 2px solid black;
  margin-bottom: 1rem;
}
