* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
}

label,
input,
button {
  display: block;
  margin: 1rem 0;
}

input {
  width: 100%;
}

input,
button {
  padding: 1rem;
}

header,
main {
  padding: 2rem;
  max-width: 75ch;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo {
  padding: 2rem;
  border: 2px solid black;
  margin-bottom: 1rem;

  display: flex;
  /* ke tengah secara vertikal */
  align-items: center;
  /* bikin jarak antar anak flex*/
  justify-content: space-between;
  border-radius: 0.5rem;
}

.todo-button {
  margin: 0;
  border-radius: 0.5rem;
}
